[Desktop Entry]
Name=Dendro
GenericName=Package Manager
Comment=Visual Package Manager & Dependency Inspector for Fedora Linux
Exec=dendro
Icon=io.github.xyasharx.Dendro
Terminal=false
Type=Application
Categories=System;PackageManager;
Keywords=fedora;package;dependencies;tree;dnf;rpm;polkit;
StartupNotify=true
